@import "../../../../src/common/styles/sass/variables.scss";

.skillBlock {
  width: 200px;
  min-height: 200px;
  background-color: $secondBackGroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: 20px;
  /*box-sizing: border-box;*/
  border-bottom: 1px solid $secondBackGroundColor;
  transition: 1s;
  @media screen and (max-width: 400px) {
    width: 100%
  }
  &:hover{
    transition: 1s;
    border-bottom: 1px solid $primaryColor;
  }
  .icon {
    width: 90px;
    height: 90px;
    background-color: $secondBackGroundColor;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title {
    color: $titleTextColor;
    background-color: $secondBackGroundColor;
    margin: 0 0 20px 0;
  }
}



