@import "../../../src/common/styles/sass/variables.scss";

.recruitBlock {
  padding-top: 30px;
  .recruitContainer {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: #161616;
    text-align: center;
    .recruitButton {
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      text-align: center;
      background-color: $primaryColor;
      border: $primaryColor;
      color: $buttonTextColor;
      font-size: 18px;
      font-family: $fontFamily;
      border-radius: 30px;
      transition: 1s;

      &:hover {
        transform: scale(1.05);
        transition: 1s;
      }
    }
  }
}



