.recruitBlock{
    /*height: 40vh;
    text-align: center;*/
}

.recruitContainer{
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}

.recruitButton{
    width: 100px;
    height: 40px;
    background-color: #b3f5eb;
    display: flex;
    align-items: center;
    justify-content: center;
}