@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-color: $backGroundColor;

  .mainContainer {
    flex-direction: column;
    justify-content: flex-start;
    .title{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .info {
      width: 100%;
      /*height: fit-content;*/
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;

      .myPhoto {
        max-width: 40%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        & img {
          box-sizing: border-box;
          max-width: 400px;
          border-bottom: 4px solid $backGroundColor;
          border-right: 4px solid $backGroundColor;
          transition: 1s;
          &:hover{
            border-bottom: 4px solid $primaryColor;
            border-right: 4px solid $primaryColor;
            transition: 1s;
          }
        }
      }

      .infoContent {
        width: 60%;
        height: 100%;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;

        .infoBlock {

          .subTitle {
            width: 100%;
            margin-bottom: 15px;
            margin-top: 0;
            @include titleText($fontFamily, 24px, 1);
            font-weight: 500;
            line-height: 1.2;
            color: $primaryColor;
          }

          .contentTitle {
            width: 100%;
            margin-bottom: 16px;
            margin-top: 0;

            @include titleText($fontFamily, 31px, 1.6);
            font-weight: 700;
          }

          .contentDescription {
            width: 100%;
            box-sizing: border-box;

            font-size: 15px;
            color: #9f9f9f;
            font-family: Poppins, sans-serif;
            line-height: 1.95;

            & p {
              border-bottom: 2px solid rgba(255, 255, 255, .08);
              margin-bottom: 0;
              margin-top: 0;
              padding-bottom: 29px;
            }
          }

          .address {
            font-size: 15px;
            margin-bottom: 4px;
            padding: 29px 0;
            box-sizing: border-box;

            font-family: Poppins, sans-serif;

            .row {
              display: flex;
              flex-wrap: wrap;

              .singleInfo {
                margin-bottom: 10px;
                width: 50%;
              }

              & span {
                color: $titleTextColor;
                font-weight: 400;
                margin-right: 10px;
                font-size: 15px;
              }

              & p {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                color: $otherTextColor;
                font-size: 15px;
              }

              & a {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                color: $primaryColor;
                text-decoration: none;
              }
            }
          }

          .contactBlock {
            display: flex;
            align-items: center;

            .downloadBTN {
              text-decoration: none;
              margin-right: 23px;
              background-color: $primaryColor;
              border: $primaryColor;
              color: $buttonTextColor;
              font-size: 14px;
              padding: 10px 35px;
              font-family: $fontFamily;
              border-radius: 30px;
              transition: 1s;

              &:hover {
                transform: scale(1.05);
                transition: 1s;
              }
            }

            .contacts {
              margin-left: 80px;
              position: relative;
              & a{
                margin-right: 20px;
                display: inline-block;
                width: 40px;
                height: 40px;
                background-position: center;
              }
              &:before{
                background-color: rgba(255,255,255,.25);
                content: '';
                height: 2px;
                margin-right: 23px;
                width: 60px;
                position: absolute;
                top:43%;
                left: -34%;
              }
            }

          }
        }
      }
    }
  }
}





