@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-color: $backGroundColor;

  @media screen and (max-width: 1200px) {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 60px;
    display: block;
    height: auto;
  }

  .mainContainer {
    flex-direction: column;
    justify-content: flex-start;
    @media screen and (max-width: 1200px) {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 70px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 70px;
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .info {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 1200px) {
        display: block;
      }

      .myPhoto {
        width: 40%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        @media screen and (max-width: 1200px) {
          margin: 0 auto;
          width: 400px;
        }
        @media screen and (max-width: 768px) {
          margin: 0 auto;
          width: 300px;
        }

        & img {
          box-sizing: border-box;
          width: 100%;
          border-bottom: 4px solid $backGroundColor;
          border-right: 4px solid $backGroundColor;
          transition: 1s;
          @media screen and (max-width: 430px) {
          }

          &:hover {
            border-bottom: 4px solid $primaryColor;
            border-right: 4px solid $primaryColor;
            transition: 1s;
          }
        }
      }

      .infoContent {
        width: 60%;
        //height: 100%;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        @media screen and (max-width: 1200px) {
          margin: 0 auto;
          text-align: center;
        }
        @media screen and (max-width: 796px) {
          width: 80%;
        }
        .infoBlock {

          .subTitle {
            width: 100%;
            margin-bottom: 15px;
            margin-top: 0;
            @include titleText($fontFamily, 24px, 1);
            font-weight: 500;
            line-height: 1.2;
            color: $primaryColor;
            @media screen and (max-width: 1200px) {
              display: none;
            }
          }

          .contentTitle {
            width: 100%;
            margin-bottom: 16px;
            margin-top: 0;

            @include titleText($fontFamily, 31px, 1.6);
            font-weight: 700;
            @media screen and (max-width: 768px) {
              @include titleText($fontFamily, 25px, 1.6);
              font-weight: 700;
            }
          }

          .contentDescription {
            width: 100%;
            box-sizing: border-box;

            font-size: 15px;
            color: #9f9f9f;
            font-family: Poppins, sans-serif;
            line-height: 1.95;
            text-align: justify;

            & p {
              border-bottom: 2px solid rgba(255, 255, 255, .08);
              margin-bottom: 0;
              margin-top: 0;
              padding-bottom: 29px;
            }
          }

          .address {
            font-size: 15px;
            margin-bottom: 4px;
            padding: 29px 0;
            box-sizing: border-box;
            @media screen and (max-width: 600px) {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
            }

            font-family: Poppins, sans-serif;
            @media screen and (max-width: 1200px) {
              font-size: 14px;
              text-align: left;
            }

            .row {
              display: flex;
              flex-wrap: wrap;
              .singleInfo {
                margin-bottom: 10px;
                width: 50%;
                @media screen and (max-width: 600px) {
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                }
              }

              & span {
                color: $titleTextColor;
                font-weight: 400;
                margin-right: 10px;
                font-size: 15px;
                //@media screen and (max-width: 920px) {
                //  font-size: 13px;
                //}
              }

              & p {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                color: $otherTextColor;
                font-size: 15px;
              }

              & a {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
                color: $primaryColor;
                text-decoration: none;
                @media screen and (max-width: 690px) {
                  font-size: 11px;
                }
              }
            }
          }

          .contactBlock {
            display: flex;
            align-items: center;
            @media screen and (max-width: 1200px) {
              justify-content: space-between;
            }
            @media screen and (max-width: 850px) {
              flex-wrap: wrap;
            }
            @media screen and (max-width: 600px) {
              justify-content: center;
            }

            .downloadBTN {
              text-decoration: none;
              margin-right: 23px;
              background-color: $primaryColor;
              border: $primaryColor;
              color: $buttonTextColor;
              font-size: 14px;
              padding: 10px 35px;
              font-family: $fontFamily;
              border-radius: 30px;
              transition: 1s;
              @media screen and (max-width: 850px) {
                margin-right: 0;
              }
              @media screen and (max-width: 547px) {
                margin-bottom: 20px;
              }

              &:hover {
                transform: scale(1.05);
                transition: 1s;
              }
            }

            .contacts {
              margin-left: 80px;
              position: relative;
              @media screen and (max-width: 850px) {
                margin-left: 30px;
              }
              & a {
                margin-right: 20px;
                display: inline-block;
                width: 40px;
                height: 40px;
                background-position: center;
                @media screen and (max-width: 1200px) {
                  width: 30px;
                  height: 30px;
                }
              }

              &:before {
                background-color: rgba(255, 255, 255, .25);
                content: '';
                height: 2px;
                margin-right: 23px;
                width: 60px;
                position: absolute;
                top: 43%;
                left: -34%;
                @media screen and (max-width: 1200px) {
                  display: none;
                }
              }
            }

          }
        }
      }
    }
  }
}






