@import "../../../src/common/styles/sass/variables.scss";

.skillsBlock {
  .skillsContainer {
    flex-direction: column;
    width: 80%;
    background-color: #161616;

    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 10px;
      background-color: #161616;
    }
  }
}




