.myProjectBlock {
    background-color: #212529;
}

.myProjectContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.projectBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 1054px) {
    .projectBox {
        justify-content: center;
    }
}