.formBlock{
    background-color: #212529;
}

.formContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer input, .formContainer textarea,
.formContainer button{
    width: 100%;
    border: 1px solid red;
    background-color: skyblue;
}

@media screen and (max-width:1024px) {
    .formContainer{
        width: 80%
    }
}
