.headerBlock{
    height: 10vh;
    background-color: #cecece;
}

.headerContainer{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header{
    height: 100%;
    background-color: #c8c8ef;
    display: flex;
    justify-content: right;
    align-items: center;
}