@import "../../../src/common/styles/sass/variables.scss";

.headerBlock {
  background-color: inherit;
  .headerContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: inherit;
  }
}


