.formBlock {
    min-width: 280px;
    width: 60%;
    height: 350px;
    border: 2px solid red;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input {
    background-color: #c8c8ef;
    border: 1px solid red;
    margin-bottom: 10px;
    height: 15%;
}

.textarea {
    background-color: powderblue;
    height: 70%;
}