@import "../../../../src/common/styles/sass/variables.scss";
@import "../../../../src/common/styles/sass/mixins.scss";
.nav {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    & a{
        @include otherText($fontFamily,17px,1.95);
        font-weight: 600;
        color: $titleTextColor;
        position: relative;
        text-transform: uppercase;
        transition: 1s;
        background-color: inherit;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
            @include otherText($fontFamily,14px,1.95);
            color: $titleTextColor;
        }
        &:hover{
            transition: 1s;
            color: $primaryColor;
            &:before{
                transition: 1s;
                content: '';
                position: absolute;
                background-image:url("../../../assets/image/icon/arrowNav.svg");
                width: 15px;
                height: 15px;
                left: -14px;
                top: 9px;
            }
        }
    }
}

//@media screen and (max-width: 768px) {
//    margin: 0 auto;
//    width: 300px;
//}