.footerBlock{
    text-align: center;
}

.footerContainer{
    flex-direction: column;
    border: 1px solid red;
}

.text{
    background-color: #bbaeae;
}

.iconBox{
    display: flex;
    justify-content: space-between;
    min-width: 280px;
    border: 1px solid red;
    align-items: center;
}
.socialIcon{
    width: 40px;
    height: 40px;
    background-color: green;
}

.security{
    background-color: #b3f5eb;
}