@import "../../common/styles/sass/variables";

.footerBlock {
  text-align: center;
  height: 110px;
  background-color: #161616;

  .footerContainer {
    flex-direction: column;
    padding-top: 10px;
    background-color: inherit;

    .text {
      color: $otherTextColor;
      margin: 0;
      font-family: $fontFamily;
      text-transform: uppercase;
      background-color: #161616;
    }

    .iconBox {
      background-color: #161616;
      display: flex;
      justify-content: space-between;
      min-width: 280px;
      align-items: center;

      .socialIcon {
        background-color: #161616;
        width: 40px;
        height: 40px;
      }
    }

    .security {
      color: $otherTextColor;
      font-family: $fontFamily;
    }
  }
}








