.App {
    width: 1440px;
    margin: 0 auto;
    position: absolute;
    left: 35px;
    @media screen and (max-width: 1440px) {
        width: auto;
        left: 0;
    }
    .header{
        position: fixed;
        top: 42%;
        background-color: rgba(22, 22, 22, 0.001);
        transition-duration: 1500ms;
        transform: translate(-135px);
        transition: 2s;
        &:hover{
            top: 42%;
            left: 20px;
            transition-duration: 1000ms;
            transform: translate(0);
            transition: 2s;
        }
        &:after{
            position: absolute;
            content: '';
            top: 47px;
            left: 95px;
            background-image:url("assets/image/icon/arrowNav.svg");
            background-repeat: no-repeat ;
            width: 40px;
            height: 40px;
        }
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}

